<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FilmKategori.Properties.Settings.FilmKategoriConnectionString"
            connectionString="Data Source=DESKTOP-TN04UGV\SQLEXPRESS;Initial Catalog=FilmKategori;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="FilmKategori.Properties.Settings.FilmKayıtConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=FilmKayıt;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>